name: Python Azure Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.5.10
        uses: actions/setup-python@v1
        with:
          python-version: 3.5.10
      - name: Install dependencies
        run: |
          make install
      - name: Lint with Python
        run: |
          make lint
      - name: Test with Pytest
        run: |
          make test
      - name: Format Code with Python black
        run: |
          make format
